{% extends "layout.njk" %}
{% block  content %}
<main>
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    <p>Detta är dock statisk text. Följt av data från databas.</p>
    <ul>
        {% for row in rows %}
        <li>
            <div class="leftside">
                <b>Name:</b> {{ row.name }}<br>
                <b>Age:</b> {{ row.age  }}<br>
                <b>Secret identity:</b> {{ row.secret_identity }}<br>
                <b>E-mail:</b> {{ row.email  }}<br>
                <b>Bio:</b> {{ row.bio }}<br>
            </div>
            <div class="line"></div>
            <div class="rightside">
                <h5>ID: {{ row.id }}</h5>
            </div>
        </li>
        {% endfor %} 
    </ul>
</main>
{% endblock %}