{% extends "layout.njk" %}
{% block content %}
<main>
    <h1>{{ title }}</h1>
    <br>
    <p>{{ steg1 }}</p>
    <p>{{ steg2 }}</p>
    <p>{{ steg3 }}</p>
    <img src="/images/cyklar.jpg" alt="cyklar">
</main>
{% endblock %}